.CustomerOperat {
    .CustomerOperat-head {
        width: 100%;
        padding: 15px 0;
        background: #eee;

        p {
            font-size: 16px;
            line-height: 16px;
            padding: 3px 10px;
            margin-left: 25px;
            border-left: 3px solid red;
        }
    }

    .importent {
        margin: 25px 0;
        width: 100%;
        overflow: hidden;
        .interest {
            margin-left: 2px;
            .importent-title {
                background-color: rgba(92, 181, 238, 1)
            }
        }

        .new {
            margin-left: 25px;

            .importent-title {
                background-color: rgba(67, 207, 124, 1);
            }

        }

        .new,
        .interest {
            width: 265px;
            float: left;
            box-shadow: 0 1px 3px #ccc;
            border-bottom: 1px solid #aaa;
        }

        .importent-title {
            width: 100%;
            height: 85px;
            text-align: center;
            line-height: 85px;
            color: white;
            font-size: 14px;
        }

        .importent-count {
            display: flex;
            margin-top: 5px;

            .count-item {
                flex: 1;
                font-size: 14px;

                &:nth-of-type(2) {
                    border-left: 1px solid #eee;
                    border-right: 1px solid #eee;
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                em {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    margin: 5px 0;
                }
            }
        }

        .share {
            display: flex;
            justify-content: center;

            span {
                width: 105px;
                line-height: 25px;
                height: 25px;
                color: rgba(42, 130, 228, 1);
                font-size: 12px;
                text-align: center;
                margin: 10px;
                border: 1px solid rgba(42, 130, 228, 1);
                border-radius: 5px;
            }
        }

    }
    .table{
        margin-top:25px;
    }
    .ant-table-thead > tr > th,.ant-table-tbody > tr > td{
        text-align: center;
        em{
            color: skyblue;
            cursor: pointer;
        }
    }
}