.VipManager {
   
    .selectList {
        width: 100%;
        padding: 8px 25px;
        background-color: rgba(240, 240, 240, 1);

        .select {
            display: flex;
            .selOne,
            .selTwo,
            .selThree {
                width: 25%;
                label {
                    display: flex;
                    margin: 10px;
                    align-items: center;
                    justify-content: flex-end;

                    .ant-input,
                    .ant-select {
                        width: 50%;
                        margin-left: 10px;
                    }
                }
            }
        }
        .sel{
            font-size:12px;
            line-height: 12px;
            padding: 2px 10px;
            margin:8px 25px 8px 100px;
        }
        .clean{
            font-size:12px;
            color: blue;
            padding: 3px 10px;
            border: 1px solid skyblue;
            border-radius: 5px;
        }
    }
    .table{
        margin:25px 0 0 0;
    }
    .ant-table-thead > tr > th,.ant-table-tbody > tr > td{
        text-align: center;
        em{
            color: skyblue;
            cursor: pointer;
        }
    }
}