.app-help-container-react{
  width: 223px;
  background: #fff;
  .title{
    line-height: 56px;
    height: 56px;
    padding: 0 0 0 16px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    color: #323233;
    .anticon {
      margin: 0 10px 0 0;
    }
  }
}