.ant-table-thead > tr > th {
  text-align: center;
}
.ant-table-thead > tr, .ant-table-tbody > tr{
  text-align: center;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: #323232;
}